body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #9D4121;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wheel-container {
    text-align: center;
}

canvas {
    border: 5px solid #333;
    border-radius: 50%;
}

.controls {
    margin-top: 20px;
}

.segment {
    margin-bottom: 10px;
}
